html {
  height: 100%;
  width: 100%;
}
table {
    border-collapse: collapse;
}

.gridCell {
    border: 1px solid black;
    width: 10px;
    height: 10px;
}

.slide-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.slider {
  padding: 10px;
  background-color: #a8a8a8;
  border-radius: 10px;
}